daily-completed-tasks-tracker-backend.json
{
  "name": "daily-completed-tasks-tracker-backend",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}",
        "includeSubtasks": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -480,
        -32
      ],
      "id": "9ab90920-3982-4b57-9f21-c7d12c19960c",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "team": "90181787093",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "901811840900",
          "spaceId": "90186999301"
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -32
      ],
      "id": "2c363890-1b7d-40d2-ad82-7215654d4169",
      "name": "ClickUp Trigger",
      "webhookId": "efd57e54-9d83-4d09-bc93-fb5d34babcf7",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db7e23ca-872f-494f-b9b0-33ebadf7b08d",
              "leftValue": "={{ $json.status.status }}",
              "rightValue": "deployed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3f48c7df-8e6c-4e43-a460-7a76dfae11ce",
              "leftValue": "={{ $json.status.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -32
      ],
      "id": "fc5f1aa6-2c7b-43b5-831c-42f278f294d7",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8",
          "mode": "list",
          "cachedResultName": "Web Team n8n Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541158572,
          "mode": "list",
          "cachedResultName": "DailyLogsData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit#gid=1541158572"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "        unique_key",
              "lookupValue": "={{ $json.unique_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        -32
      ],
      "id": "1271bd07-d62d-4917-b746-905472f13b47",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fnSCdUg3fhYq3oJ4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bdc5bd7-1567-4a7f-8e20-f3345e8d2bdc",
              "name": "oldTasks",
              "value": "= {{ $json['Completed Tasks'] || \" \"}}",
              "type": "string"
            },
            {
              "id": "ea646ebb-99ee-4dd8-9457-60986e0e9d1e",
              "name": "newTasks",
              "value": "={{ $('Edit Fields9').item.json.CompletedTasks }}",
              "type": "string"
            },
            {
              "id": "89afe539-1d20-4441-9476-6e87163e98bd",
              "name": "old_No_of_Completed_Tasks",
              "value": "={{ $json['No_of_Completed_Tasks'] || 0}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -32
      ],
      "id": "cd65c071-5b1f-41db-8cd2-ffb06ae710c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "858640ac-7ecf-4f32-b670-d3eb224329a0",
              "name": "CompletedTasks",
              "value": "={{ $json.CompletedTasks }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -32
      ],
      "id": "0f46fb0d-dacd-4832-99d5-108f2a951a53",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        192,
        -32
      ],
      "id": "5c8f9c99-8e63-4ca8-a227-5c30f4c74cfe",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        416,
        -32
      ],
      "id": "8faf5e23-c631-4763-8ae3-47c644f6b454",
      "name": "Date & Time4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cca6822-e859-4bcd-a030-5e055d7310d9",
              "name": " Member Name",
              "value": "={{ $json.assignees[0].username }}",
              "type": "string"
            },
            {
              "id": "ff32a537-8657-49ee-826b-9c3f8639fff7",
              "name": " Member ID",
              "value": "={{ $json.assignees[0].id }} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -32
      ],
      "id": "f9381af5-dbf3-4d22-994b-5e92366ebdad",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "jsCode": "// Usually triggered once per assignment → we expect one item\nconst triggerItem = $input.first();\nif (!triggerItem) {\n  return [{ json: { error: \"No input item received\" } }];\n}\n\n// Helper: safe date formatting (PKT = Asia/Karachi)\nfunction formatPktDate(timestampMs) {\n  if (!timestampMs || isNaN(Number(timestampMs))) return \"N/A\";\n  const date = new Date(Number(timestampMs));\n  return date.toLocaleString('en-US', {\n    timeZone: 'Asia/Karachi',\n    year: 'numeric',\n    month: 'short',\n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: true\n  });\n}\n\n// ── Get task data ── preferably from \"Get a task\" node that uses task_id ──\nconst taskItem = $('Get a task').first();\n\nif (!taskItem?.json?.name) {\n  // Fallback: try to use data directly from trigger if \"Get a task\" failed/empty\n  const fallbackName = triggerItem.json.name || triggerItem.json.task?.name || \"Unnamed Task\";\n  const fallbackStart  = triggerItem.json.start_date  || triggerItem.json.task?.start_date;\n  const fallbackDue    = triggerItem.json.due_date    || triggerItem.json.task?.due_date;\n  const fallbackCreated = triggerItem.json.date_created || triggerItem.json.task?.date_created;\n\n  var name       = fallbackName.trim();\n  var startFmt   = formatPktDate(fallbackStart);\n  var endFmt     = formatPktDate(fallbackDue);\n  var createdFmt = formatPktDate(fallbackCreated);\n} else {\n  // Preferred path: data from \"Get a task\" node\n  var name       = (taskItem.json.name || \"Unnamed Task\").trim();\n  var startFmt   = formatPktDate(taskItem.json.start_date);\n  var endFmt     = formatPktDate(taskItem.json.due_date);\n  var createdFmt = formatPktDate(taskItem.json.date_created);\n}\n\n// ── Build single task line ───────────────────────────────────────────\nconst taskLine = `• ${name}\\n   Created: ${createdFmt}\\n   Start:   ${startFmt}\\n   End:     ${endFmt}`;\n\nconst formattedTasks = taskLine;\n\n\n// ── Get member info (usually prepared in \"Edit Fields1\") ─────────────\nconst memberName = $('Edit Fields10').first()?.json?.[' Member Name'] \n                || $('Edit Fields10').first()?.json?.MemberName \n                || triggerItem.json.assignee?.username\n                || triggerItem.json.history_items?.[0]?.after?.username\n                || \"—\";\n\nconst memberId = $('Edit Fields10').first()?.json?.[' Member ID'] \n              || $('Edit Fields10').first()?.json?.MemberId \n              || triggerItem.json.assignee?.id\n              || triggerItem.json.history_items?.[0]?.after?.id\n              || \"—\";\n\n// Date context\nconst todayDate = $input.first().json.formattedDate \n               || triggerItem.json.formattedDate \n               || new Date().toISOString().split('T')[0];\n\nconst uniqueKey = `${memberId}_${todayDate}`.trim();\n \nconst taskCount = [taskLine].length;\n// ── Final output ─────────────────────────────────────────────────────\nreturn [{\n  json: {\n    MemberName:       memberName,\n    MemberId:         memberId,\n    TodayDate:        todayDate,\n    unique_key:       uniqueKey,\n\n    CompletedTasks:    formattedTasks,        // single formatted string\n    CompletedTaskCount: taskCount,\n    // AssignedTasksArray: [taskLine],          // still array → easier to append later\n\n    // Optional – very useful for debugging\n    // TaskName:         name,\n    // CreatedFmt:       createdFmt,\n    // StartFmt:         startFmt,\n    // DueFmt:           endFmt,\n    // SourceNodeUsed:   taskItem?.json?.name ? \"Get a task\" : \"trigger fallback\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -32
      ],
      "id": "52cc93a4-da10-457c-9838-574387e6bfc6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ece99218-98c9-4bb2-ae7f-0e75663ad658",
              "name": "combinedTasks",
              "value": "={{ $json.newTasks ? $json.newTasks + \"\\n \" + $json.oldTasks : + $json.oldTasks }}",
              "type": "string"
            },
            {
              "id": "25fb2e6e-2205-4480-abd1-050f4c2d2646",
              "name": "new_no_of_Completed_task",
              "value": "={{ $json.old_No_of_Completed_Tasks }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        -32
      ],
      "id": "9e95cf79-e617-436f-824c-a177ecc1c7bf",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8",
          "mode": "list",
          "cachedResultName": "Web Team n8n Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541158572,
          "mode": "list",
          "cachedResultName": "DailyLogsData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit#gid=1541158572"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "        unique_key": "={{ $('Code in JavaScript1').item.json.unique_key }}",
            "Date": "={{ $('Code in JavaScript1').item.json.TodayDate }} ",
            "Member ID": "={{ $('Code in JavaScript1').item.json.MemberId }} ",
            "Member Name": "={{ $('Code in JavaScript1').item.json.MemberName }} ",
            "No_of_Completed_Tasks": "={{ $json.new_no_of_Completed_task + 1}}",
            "Completed Tasks": "={{ $json.combinedTasks }}"
          },
          "matchingColumns": [
            "        unique_key"
          ],
          "schema": [
            {
              "id": "        unique_key",
              "displayName": "        unique_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Member ID",
              "displayName": "Member ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Member Name",
              "displayName": "Member Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Productive Days",
              "displayName": " Productive Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Projects",
              "displayName": "Projects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No_of_Projects_Working_On",
              "displayName": "No_of_Projects_Working_On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tasks Assigned Today",
              "displayName": "Tasks Assigned Today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No_of_Assigned_Tasks",
              "displayName": "No_of_Assigned_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pending Tasks",
              "displayName": "Pending Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No_of_Pending_Tasks",
              "displayName": "No_of_Pending_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "In-Progress Tasks",
              "displayName": "In-Progress Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No_of_In-Progress_Tasks",
              "displayName": "No_of_In-Progress_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Active Tasks",
              "displayName": "Active Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No_of_Active_Tasks",
              "displayName": "No_of_Active_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Repeted Tasks",
              "displayName": "Repeted Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "No_of_Repeted_Tasks",
              "displayName": "No_of_Repeted_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Completed Tasks",
              "displayName": "Completed Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No_of_Completed_Tasks",
              "displayName": "No_of_Completed_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "In-Testing Tasks",
              "displayName": "In-Testing Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No_of_InTesting_Tasks",
              "displayName": "No_of_InTesting_Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TeamName",
              "displayName": "TeamName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ReportMonth",
              "displayName": "ReportMonth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        -32
      ],
      "id": "d37df74a-6aac-41dc-8da0-f380bd1bb9db",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fnSCdUg3fhYq3oJ4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n//   Check if the new completed task is already in oldTasks\n// ================================================\n\nconst oldText   = ($input.first().json.oldTasks  || \"\").trim();\nconst newTask   = ($input.first().json.newTasks  || \"\").trim();\n\nif (!newTask) {\n  return [{\n    json: {\n      ...$json,\n      alreadyExists: false,\n      reason: \"No new task provided\",\n      shouldAppend: true\n    }\n  }];\n}\n\nif (!oldText) {\n  return [{\n    json: {\n      ...$json,\n      alreadyExists: false,\n      reason: \"No previous tasks → first entry\",\n      shouldAppend: true\n    }\n  }];\n}\n\n// Normalize both strings a bit (remove extra spaces, normalize line endings)\nconst normalize = str => str\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .toLowerCase();\n\n// We will check two ways:\n// 1. Exact full-string match of the new task block\n// 2. Contains the task name / bullet part (more forgiving)\n\nconst normalizedOld  = normalize(oldText);\nconst normalizedNew  = normalize(newTask);\n\n// ── Method 1: exact match of the whole new task block ────────────────\nconst alreadyExact = normalizedOld.includes(normalizedNew);\n\n// ── Method 2: extract likely task title (first line after •) ─────────\nlet newTitle = \"\";\nif (newTask.startsWith(\"•\")) {\n  newTitle = newTask.split(\"\\n\")[0].trim().toLowerCase();\n} else {\n  // fallback: take first non-empty line\n  newTitle = newTask.split(\"\\n\").find(l => l.trim())[0]?.trim().toLowerCase() || \"\";\n}\n\nlet hasSimilarTitle = false;\nif (newTitle) {\n  hasSimilarTitle = oldText\n    .split(\"\\n\")\n    .some(line => {\n      const trimmed = line.trim().toLowerCase();\n      return trimmed.startsWith(\"•\") && trimmed.includes(newTitle);\n    });\n}\n\n// Final decision\nconst alreadyExists = alreadyExact || hasSimilarTitle;\n\nreturn [{\n  json: {\n    ...$json,\n    // alreadyExists: alreadyExists,\n    shouldAppend: !alreadyExists,\n    // reason: alreadyExists\n    //   ? \"Task already exists in Completed Tasks\"\n    //   : \"New task – safe to append\",\n    // newTaskTitle: newTitle || \"(no title detected)\",\n    // debug_normalizedNew: normalizedNew.substring(0, 100) + \"...\",\n    // debug_normalizedOldLength: normalizedOld.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -32
      ],
      "id": "cb6bdcab-016a-4781-87e8-430e26e6c6f7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f84546ec-4a60-496e-af44-0381cac48f37",
              "leftValue": "={{ $json.shouldAppend }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        -32
      ],
      "id": "93a15379-9a19-4f16-8d83-f90c80d3a452",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a task": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ef563d9-d002-458f-bdf4-7bc391c08ed8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "CfjoDxZH2vynNlPh",
  "tags": []
}